/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url("https://use.typekit.net/saw7yik.css");

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #F2E8D5;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #022859;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}
.my-box {
	padding-bottom: 10px;
}

.image {
	object-fit: contain;
}
.card-body {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color: #E3C766;
    transition: 0.3s;
 }
.btn {
	background-color: #976099 !important 
}
.bg-light {
	background-color: #F55355 !important
}
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../images/landingpagebackground.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-headlines {
	color: #FFFFFF
}

/*this class here means, that if you hover over the terms in the navbar, it doesn´t turn black, but now white*/
.nav:hover {
	color: #FFFFFF; 
	opacity: .5; 
	transition: 0.2s;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-writing {
	text-align: center
}

.footer {
	background-color: #F2E8D5 !important;
}

/*this class is for changing the color of the first thing on the about us page, the snippet thingy*/
.snip {
	background-color: #D99B29 !important;
	opacity: .5;
}

.blue {
	color: #022859;
}

/*idea: to make a class for all the 5 colours we want to use more often, so we can simply reuse classes*/


/*try out 3d-flipcards*/ 

/* Dies ist der Flip-Card-Container. */
.flip-card-horizontal, .flip-card-vertical {
  width: 400px;
  height: 200px;
  background-color: transparent;
  perspective: 1000px; /* Diese Zeile entfernen, wenn Sie keinen 3D-Effekt wünschen. */
}

/* In diesem Container werden die Flip-Cards (Front- und Rückseite) platziert. */
.flip-card-inner {
  box-shadow: 10px 20px 15px silver;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Hier wird der Flip definiert. Die Drehung erfolgt HORIZONTAL. */
.flip-card-horizontal:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Eine weitere Definition für den Flip, wenn die Drehung VERTIKAL geschehen soll. */
.flip-card-vertical:hover .flip-card-inner {
  transform: rotateX(180deg);
}

/* Dieser Container definiert die Vorder- und Rückseite der Flip-Cards. */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Wenn Sie kein Bild für die Vorderseite der Flip-Card verwenden, können Sie hier CSS-Angaben einfügen. */
.flip-card-front {
	background-color: #F2E8D5;
/* Hier allfälligen CSS-Code platzieren */
}

/* Der folgende Code definiert die Ansicht der Flip-Card-Rückseite. */
.flip-card-back {
  padding: 20px 10px;
  background-color: #F2E8D5;
}
  
/* Hier definieren Sie die Rückseite der Flip-Card für die HORIZONTALE Drehung.  */
.flip-card-horizontal .flip-card-back {
  transform: rotateY(180deg);
}

/* Hier definieren Sie die Rückseite der Flip-Card für die VERTIKALE Drehung.  */
.flip-card-vertical .flip-card-back {
  transform: rotateX(180deg);
}

/* Der Button auf der Rückseite wird mit folgenden Zeilen definiert. */
.flip-button {
  cursor: pointer;
  background-color: #293280;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 22px;
  border-radius: 10px;
  border: 0px;
}

/*try-out ends*/

.colorpalette-red {
	color: #F55355
}

.colorpalette-purple {
	color: #976099
}

.colorpalette-blue {
	color: #022859
}

.colorpalette-yellow {
	color: #D99B29
}

.colorpalette-white {
	color: #F2E8D5
}

.heading-font {
font-family: "scriptorama-markdown-jf", sans-serif;
font-weight: 400;
	font-style: normal;
}

